html {
  background-color: #8bc6ec;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.quote {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
}

.card {
  width: 60%;
  margin-left: 18%;
  margin-top: 15%;
  display: grid;
  place-items: center;
  border: 5px solid black;
  opacity: 1;
  background-color: white;
}
